@import '/home/maxy/.config/wofi/catppuccin.css';

* {
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 24px;
 }

 /* Window */
 window {
    margin: 0px;
    padding: 10px;
    background-color: @bg;
    border-radius: 25px;
 }

 /* Inner Box */
 #inner-box {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: @bg;
 }

 /* Outer Box */
 #outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @bg;
    border-radius: 5px;
 }

 /* Scroll */
 #scroll {
    margin: 0px;
    padding: 10px;
    border: none;
 }

 /* Input */
 #input {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @txt;
    background-color: @bg;
    border: 2px solid @subtxt;
 }

 /* Text */
 #text {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @subtxt;
 }

 /* Selected Entry */
 #entry:selected {
   background-color: @bg2;
   outline: 1px solid @accent;
 }

 #entry:selected #text {
    color: @txt;
 }
 image {
   margin-left: 10px;
 }